<div class="Landing row justify-content-center align-items-center">
  <div>
    <div class="text-center">
      <h1 class="display-2">ClickMeFast</h1>
      <h4 class="lead">Hi, and welcome to this insanely complicated game!</h4>
    </div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="mt-5">
      <label for="username">Your username</label>
      <div class="input-group">
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          ngModel
          required
          placeholder="Player1"
        >
        <button class="btn btn-primary" [disabled]="!f.valid && f.touched">Submit</button>
      </div>
    </form>
  </div>
</div>
