<h3 *ngIf="currentUser">Welcome, {{ currentUser.username }}</h3>

<div *ngIf="currentState === states.BEFORE_GAME">
  <p>Click Start, and then click fast as hell!</p>
  <button (click)="startGame()">Start</button>
</div>

<div *ngIf="currentState === states.PLAYING">
  <p>Time remaining: {{ timerValue }}</p>
  <p>Clicks: {{ clicks }}</p>
  <button (click)="handleClick()">Click Me!</button>
</div>

<div *ngIf="currentState === states.FINISHED">
  <p>Time is Up!</p>
  <p>You clicked {{ clicks }} times</p>
  <button (click)="startGame()">Play again</button>
  <br/>
  <a routerLink="/scoreboard">Go to scoreboard</a>
</div>
